{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}


    <article>

        <h1>Add user</h1>

        <form action="/add/user" method="POST" id="add_user">

            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <input
            name="display_name"
            type="text"
            accept="image/png, image/jpeg, image/webp"
            >

            <button>Add user</button>

        </form>

    </article>

{% endblock %}

