{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

   <h1>Demo App for meal planner</h1>

    <p>This is an app that pulls data from a SQLite database to show bare bones data of a meal plan</p>


    <a href="/recipes" role="button">Recipes list</a>
    <a href="/user/new" role="button">Add a user</a>
    <a href="/recipe/new" role="button">Add a recipe</a>
    <a href="/meal_plan" role="button">View meal plan</a>
{% endblock %}

