{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

   <h1>Demo App for meal planner</h1>

    <p>This is an app that pulls data from a SQLite database to show bare bones data of a meal plan</p>


    <a href="/plan" role="button">Meal plan data</a>
    <a href="/add/user" role="button">Add a user</a>
    <a href="/form/add/recipe" role="button">Add a recipe</a>
{% endblock %}

