{#=====================================================
  Meal Plan
=====================================================#}

{% extends 'pages/_base.jinja' %}

{% block content %}

    <h1>Meal Plan</h1>

    {% if meal_plan %}

        {% set current_date = namespace(value=None) %}

        {% for meal in meal_plan %}

            {% if meal.date != current_date.value %}

                {% if not loop.first %}
                    </ul>
                {% endif %}

                <h2>{{ meal.date }}</h2>

                <ul>

                {% set current_date.value = meal.date %}

            {% endif %}

                <li>
                    <strong>{{ meal.meal_type|title }}</strong>:

                    <a href="/recipe/{{ meal.recipe_id }}">
                        {{ meal.recipe_title }}
                    </a>
                </li>

            {% if loop.last %}
                </ul>
            {% endif %}

        {% endfor %}

    {% else %}

        <p>No meals planned yet!</p>

    {% endif %}

{% endblock %}