{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

   
    <h1>Meal plan</h1>


    <article>

        <ul>
            {% for day in days %}

                <li>
                    <a href="/day/{{ day.id }}">
                        {{ day.name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

{% endblock %}

