{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2></h2>

    <section>
        
    </section>

{% endblock %}

