{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

   
    <h1>Recipes</h1>


    <article>

        <ul>
            {% for recipe in recipes %}

                <li>
                    <a href="/recipe/{{ recipe.id }}">
                        {{ recipe.title }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

{% endblock %}

