{#=====================================================
  Recipe page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

   
    <h1>{{ recipe.title }}</h1>


    <article>
        <p>id: {{ recipe.id }}</p>
        <p>title: {{ recipe.title }}</p>
        {% if recipe.url %}

            <button>
                <a href="{{ recipe.url }}" target="_blank">
                    View recipe
                </a>
            </button>

        {% else %}

            <h2>Ingredients</h2>

            <ul>
                {% for ingredient in recipe.ingredients.splitlines() %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>


            <h2>Method</h2>

            <ol>
                {% for step in recipe.method.splitlines() %}
                    <li>{{ step }}</li>
                {% endfor %}
            </ol>

        {% endif %}

        <p>meal type: {{ recipe.meal_type }}</p>
        <p>notes: {{ recipe.notes }}</p>
        <p>Image: </p><img src="{{ recipe.image_path }}" class="recipe_image">


    </article>

{% endblock %}

