<label>
    Ingredients
</label>

<textarea
    name="ingredients"
    id="ingredients"
    
    placeholder="Enter the ingredients"
    required
></textarea>


<label>
    Method
</label>

<textarea
    name="method"
    id="method"
    placeholder="Enter the method"
    required
></textarea>
